<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Page | Gor Sinta</title>
    <link href="./static/src/output.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="bg-gray-100">
  <!-- navbar start -->
  {% include "headerBooking.html" %}
  <!-- navbar end  -->

  <!-- hero section start -->
  <section>
    <div class="container mx-auto px-4 py-8">
        <div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold mb-4">Konfirmasi Booking</h2>
            <!-- Form untuk data diri -->
            <form action="/confirmation" method="POST">
                <div class="mb-4">
                    <label for="fullname" class="block text-gray-600">Nama Lengkap: {{ fullname }}</label>
                </div>
                <div class="mb-4">
                    <label for="phone_number" class="block text-gray-600">Nomor Telepon: {{ phone_number }}</label>
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-gray-600">Email: {{ email }}</label>
                </div>
            </form>
        </div>
    </div>
  </section>

  <section>
    <!-- Card untuk menampilkan tanggal dan jam yang dipilih -->
    <div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md mt-8">
        <h2 class="text-xl font-semibold mb-4">Detail Pemesanan</h2>
        <div class="mb-4">
            <h3 class="block text-gray-600" id="selected_date_display">Hari / Tanggal: {{ selected_date }}</h3>
            <h3 class="block text-gray-600" id="selected_time_display">Jam: {{ selected_time }}</h3>
            <h3 class="block text-gray-600">Jenis Lapangan: {{ sport_court }}</h3>
            <h3 class="block text-gray-600">Lapangan Berapa: {{ court_name }}</h3>
            <h3 class="block text-gray-600">Harga Lapangan: {{ price }}</h3>
            <!-- konfirmasi pembayaran -->
            <div class="mt-4">
                <button id="confirmPaymentBtn" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600" onclick="window.location.href='/payment'">Konfirmasi Pembayaran</button>
            </div>
        </div>
    </div>
  </section>
    <!-- hero section end -->

</body>
</html>
