<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../static/img/sinta.png" rel="icon" type="image/x-icon" />

    <title>Booking Page | Gor Sinta</title>
    <link href="../static/src/output.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        // jQuery script to toggle sidebar for mobile screens
        $(document).ready(function () {
            $('#sidebar-toggle').click(function () {
                $('.lg\\:block').toggle();
            });
        });
    </script>
  </head>
  <body class="bg-gray-100">

    {% include "asideAdmin.html" %}
        <!-- form admin start -->
        <!-- Form untuk menambahkan data lapangan -->
    <div>
        <form method="POST" enctype="multipart/form-data">
            <div class="flex flex-col gap-y-4">
                <div>
                    <label for="nama-lapangan" class="block text-sm font-medium text-gray-700">Judul Foto</label>
                    <input type="text" id="judul_foto" name="judul_foto" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>
                <div>
                    <label for="foto-lapangan" class="block text-sm font-medium text-gray-700">Foto</label>
                    <input type="file" id="foto-lapangan" name="foto_lapangan" accept=".png,.jpg,.jpeg" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>
                <div class="flex justify-end">
                    <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Tambah</button>
                </div>
            </div>
        </form>
    </div>

        <!-- form admin end -->
    </aside>
    <!-- sidebar end  -->

    <!-- hero section start -->
    
    <!-- hero section end -->

  </body>
</html>
