<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page | Gor Sinta</title>
    <link href="./static/src/output.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-100">
    <!-- header start -->
    {% include "header.html" %}
    <!-- header end -->



    <!-- footer start -->
    {% include "footer.html" %}
    <!-- footer end -->
  </body>
</html>
