<footer class="bg-cover bg-center" style="background-image: url('./static/img/footer.png')">
    <div class="mx-auto max-w-5xl px-4 py-16 sm:px-6 lg:px-8">
      <div class="flex justify-center text-teal-600">
        <h1 class="text-5xl font-extrabold text-gray-900">Gor <span class="text-teal-600">Shinta</span></h1>
      </div>
  
      <p class="mx-auto mt-3 max-w-md text-center leading-relaxed text-gray-500">
        Sudah lihat semuanya? Yuk, langsung booking sekarang juga!
      </p>
  
      <ul class="mt-3 flex flex-wrap justify-center gap-6 md:gap-8 lg:gap-12">
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#"> Beranda </a>
        </li>
  
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="/login"> Pesan </a>
        </li>
  
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#fasilitas"> Fasilitas </a>
        </li>
  
        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#kategori"> Kategori </a>
        </li>

        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#tentang"> Tentang Kami </a>
        </li>

        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#kontak"> Kontak </a>
        </li>

        <li>
          <a class="text-gray-700 transition hover:text-gray-700/75" href="#testimoni"> Testimoni </a>
        </li>
      </ul>
  
      <ul class="mt-12 flex justify-center gap-6 md:gap-8">
        <h1>Copyright &copy; 2024 Gor Shinta</h1>
      </ul>
    </div>
  </footer>