<div class="navbar bg-transparent container mx-auto">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 w-52">
        <li><a href="#">Beranda</a></li>
        <li><a href="/login">Pesan</a></li>
        <li><a href="#fasilitas">Fasilitas</a></li>
        <li><a href="#kategori">Kategori</a></li>
        <li><a href="#tentang">Tentang Kami</a></li>
        <li><a href="#kontak">Kontak</a></li>
        <li><a href="#testimoni">Testimoni</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-2xl font-bold">Gor <span class="text-teal-600">Shinta</span></a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 font-semibold text-lg">
      <li><a href="#">Beranda</a></li>
        <li><a href="/login">Pesan</a></li>
        <li><a href="#fasilitas">Fasilitas</a></li>
        <li><a href="#kategori">Kategori</a></li>
        <li><a href="#tentang">Tentang Kami</a></li>
        <li><a href="#kontak">Kontak</a></li>
        <li><a href="#testimoni">Testimoni</a></li>
    </ul>
  </div>
  <div class="navbar-end gap-4">
    <a class="text-white font-bold py-2 px-4 rounded transition-transform transform duration-300 bg-gradient-to-r from-teal-400 to-gray-800 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-offset-2" href="/register">Daftar</a>
    <a class="text-white font-bold py-2 px-4 rounded transition-transform transform duration-300 bg-gradient-to-r from-red-800 to-gray-800 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-offset-2" href="/login">Masuk</a>
</div>
</div>