<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/img/sinta.png" rel="icon" type="image/x-icon" />
    <title>Booking Page | Gor Sinta</title>
    <link href="../static/src/output.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body style="background-image: url('../static/img/booking.png');" class="bg-cover bg-center min-h-screen">

<header>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <div class="flex flex-col text-center sm:text-left justify-center items-center sm:items-start">
                <div class="ms-5 flex items-center justify-center">
                    <div class="mx-3">
                        <img src="../static/img/sinta.png" alt="" width="50">
                    </div>
                    <div>
                        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Ayoo segera pesan</h1>
                        <p class="mt-1.5 text-sm text-gray-500">Kami tunggu kedatangan Anda 🤗🎉</p>
                    </div>
                </div>
            </div>
            <div class="mt-4 flex flex-col sm:flex-row sm:items-center sm:justify-center gap-4 sm:mt-0">
                <div class="flex flex-col text-center">
                    <button class="inline-flex items-center justify-center gap-1.5 rounded-lg border border-gray-200 px-5 py-3 bg-gray-200 text-gray-700 transition hover:bg-gray-100 hover:shadow-lg focus:outline-none focus:ring" type="button" onclick="window.location.href='/datadiri'">
                        <span class="text-md font-semibold">{{ fullname }}</span>
                    </button>
                </div>
                <div class="flex gap-1 items-center">
                    <span id="currentDateTime" class="text-sm font-medium"></span>
                </div>
                <button class="block rounded-lg bg-teal-600 px-6 py-3 text-sm font-medium text-white shadow-lg transform transition hover:-translate-y-1 hover:bg-teal-700 focus:outline-none focus:ring" type="button" onclick="confirmSignOut()">Keluar</button>
                <button class="block rounded-lg bg-red-600 px-6 py-3 text-sm font-medium text-white shadow-lg transform transition hover:-translate-y-1 hover:bg-red-700 focus:outline-none focus:ring" type="button" onclick="window.location.href='/userReviewLapangan'">Berikan Ulasan</button>
            </div>
        </div>
    </div>
</header>

<!-- JavaScript for updating date and time -->
<script>
    function updateDateTime() {
        var currentDate = new Date();
        var options = { 
            weekday: 'long', 
            month: 'long', 
            day: 'numeric', 
            year: 'numeric', 
            hour: 'numeric', 
            minute: 'numeric', 
            second: 'numeric', 
            hour12: true 
        };
        var dateTimeString = currentDate.toLocaleString('id-ID', options);
        document.getElementById('currentDateTime').textContent = dateTimeString;
    }
    setInterval(updateDateTime, 1000);
    updateDateTime();

    function confirmSignOut() {
        Swal.fire({
            title: 'Apakah Anda yakin?',
            text: "Anda tidak dapat mengembalikan ini!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Ya, keluar!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/logout';
            }
        })
    }
</script>

</body>
</html>
