<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../static/img/sinta.png" rel="icon" type="image/x-icon" />

    <link href="./static/src/output.css" rel="stylesheet" />
    <title>Register | Gor Sinta</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      /* CSS tambahan */
      @media (max-width: 640px) {
        .form-container {
          flex-direction: column;
        }
      }
    </style>
  </head>
  <body>
    <!-- hero section start -->
    {% block content %}
    <section class="bg-gray-200">
      <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
        <main
          class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6 form-container"
        >
          <div class="max-w-xl lg:max-w-3xl">
            <a class="block text-blue-600" href="#">
              <span class="sr-only">Home</span>
              <img src="./static/img/sinta.png" alt="" width="50">
            </a>

            <h1
              class="mt-6 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl"
            >
              Selamat Datang di GorShinta 🦑
            </h1>

            <p class="mt-4 leading-relaxed text-gray-500">
              Silahkan daftar terlebih dahulu sebelum memesan lapangan favorit kalian
            </p>

            <form method="POST" action="{{ url_for('register') }}" id="register-form" class="mt-8 grid grid-cols-6 gap-6">
              
              <div class="col-span-6 sm:col-span-3">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="mt-6">
                  <ul class="divide-y divide-gray-200 rounded-md bg-blue-100 p-4">
                    {% for message in messages %}
                    <li class="flex items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blue-500 mr-2" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M10 0a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm0 17a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm-.84-6.22a1.5 1.5 0 0 1 2.12 0l3.06 3.06a1.5 1.5 0 0 1-2.12 2.12l-2.36-2.36-.6.6a1.5 1.5 0 0 1-2.12-2.12l1.41-1.41z" clip-rule="evenodd" />
                      </svg>
                      <span class="text-sm text-blue-800">{{ message }}</span>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                {% endif %}
                {% endwith %}
                <label
                  class="block text-sm font-medium text-gray-700"
                >
                  Nama Lengkap
                </label>

                <input
                  name="fullname"
                  class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm py-2"
                />
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label
                  class="block text-sm font-medium text-gray-700"
                >
                  No Handphone
                </label>

                <input
                  name="phone_number"
                  class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm py-2"
                />
              </div>

              <div class="col-span-6">
                <label
                  class="block text-sm font-medium text-gray-700"
                >
                  Email
                </label>

                <input
                  name="email"
                  class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm py-2"
                />
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label
                  class="block text-sm font-medium text-gray-700"
                >
                  Password
                </label>

                <input
                  type="password"
                  name="password1"
                  class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm py-2"
                />
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label
                  class="block text-sm font-medium text-gray-700"
                >
                  Konfirmasi Password
                </label>

                <input
                  type="password"
                  name="password2"
                  class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm py-2"
                />
              </div>

              <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
                <button
                  type="submit"
                  class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
                >
                  Daftar
                </button>

                <p class="mt-4 text-sm text-gray-500 sm:mt-0">
                  Sudah punya Akun?
                  <a href="/login" class="text-gray-700 underline">Masuk</a>.
                </
              </div>
            </form>
          </div>
        </main>
        <!-- Memindahkan gambar register ke bawah form pada tampilan mobile -->
        <aside
          class="relative block h-96 lg:col-span-5 lg:order-last lg:h-full xl:col-span-6"
        >
          <img
            alt=""
            src="./static/img/register.png"
            class="absolute inset-0 h-full w-full object-cover"
          />
        </aside>
      </div>
    </section>
    {% endblock %}
    <!-- register section end -->
  </body>
</html>
